.airport-table {
    color: black;
    margin-top: 50px;
    margin-left: 60px;
}
table, th, td {
    border: 1px solid black;
}
td {
    font-size: 20px;
}
.airport-table2 {
    position: absolute;
    right: 28%;
    top: 55%;
    color: black;
    margin-top: 50px;
    margin-left: 60px;
}
.airport-table3 {
    position: absolute;
    right: 21%;
    top: 55%;
    color: black;
    margin-top: 50px;
    margin-left: 60px;
}
@media only screen and (max-width : 1290px) {
    .airport-table2 {
        left: 0%;
        top: 77%;
    }  
  }