.footer-content {
    background-color: #99ffff;
    height: 100px;
    padding: 20px; 
    width: 97.2%;
    position: absolute;
    top: 170%;
    margin-top: 100px;
}

@media only screen and (max-width : 1290px) {
    .footer-content {
        top: 180%
    }
  }
@media only screen and (max-width : 1149px) {
    .footer-content {
        top: 200%;
    }
  }